header {
    font-family: 'Montserrat', sans-serif;
    font-size: .9vw;
}

.bg-dark {
    background-color: #000000 !important;
    height: 10vh;
}

#home {
    margin-left: 8vw;

}

.header-item {
    margin-left: 6vw;
}

#sign-in {
    margin-left: 40vw;
}

.dropdown-menu {
    margin-left: 6vw;
    height: 3vw;
    background-color: rgba(255, 255, 255, .75);;
}

.dropdown-item {
    color: rgba(255, 255, 255, .75);
    font-size: .9vw;
}

