
.btn-primary {
    margin-top: 2.4vw;
}

.page-title {
    margin-top: 6vw;
    margin-bottom: 0;
}

.page-content {
    margin-top: 4.3vw;
    margin-left: 9vw;
    margin-bottom: 8vw;
}

.home-page-pic {
    width: 25vw;
    margin-right: 1.6vw;
}

.CTA-block {
    align-content: center;
    width: 25vw;

}

.main-text {
    margin-top: 8vw;
    font-size: 2.4vw;
}

.btn-primary {
    padding-top: .8vw;
}


