body {
    font-family: 'Montserrat', sans-serif;
    font-size: .9vw;
}

.btn-primary {
    width: 11vw;
    height: 3.2vw;
    background-color: black;
    border-radius: 1.6vw;
    border: none;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    border: black solid .06vw;
}

.page-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.4vw;
    font-weight: 500;
}

.form-check-input:checked {
    border-color: rgba(189, 189, 189, 0.55);
    background-color: black !important;
}

.form-check-input:checked:focus {
    border-color: rgba(189, 189, 189, 0.55);
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(189, 189, 189, 0.55)
}

.form-check-input:focus {
    border-color: rgba(189, 189, 189, 0.55);
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(189, 189, 189, 0.55)
}

.form-check-input:active {
    border-color: rgba(189, 189, 189, 0.55);
    background-color: #c7c7c7;
}