body {
    font-family: 'Montserrat', sans-serif;
    font-size: .9vw;
}

.btn-primary {
    height: 3.2vw;
    background-color: black;
    border-radius: 1.6vw;
    border: none;
}

.btn-primary:hover {
    background-color: white;
    color: black;
    border: black solid .06vw;
}

.page-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.4vw;
    font-weight: 500;
}

